    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- minified jQuery2 -->    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

    <!-- Latest compiled and minified Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/cb7b4e7597.js"></script>

    <!-- Application JS and CSS -->
    <script src="{{ 'assets/js/app.js' | absolute_url }}"></script>

    <link rel="stylesheet" href="{{ 'assets/css/fonts.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'assets/css/app.css' | absolute_url }}" />

    <title>{{ page.title }}</title>
