<div id="identity-wrapper">
    <section id="identity">
        <header>
            <span class="avatar"><img src="images/avatar.jpg" alt=""></span>
            <h1>{{ site.title }}</h1>
            {% if site.description %}
                <p>{{ site.description }}</p>
            {% endif %}

            {% if site.location %}
                <p>{{ site.location }}</p>
            {% endif %}
        </header>
        <footer>
            <ul id="social_badges" class="clearfix">
                {% if site.github_username %}
                <li><nobr><a href="https://github.com/{{ site.github_username }}"><span class="fa fa-github">&nbsp;</span>Github</a></nobr></li>
                {% endif %}

                {% if site.twitter_username %}}
                <li><nobr><a href="https://twitter.com/{{ site.twitter_username }}"><span class="fa fa-twitter">&nbsp;</span>Twitter</a></nobr></li>
                {% endif %}
            
                {% if site.instagram_username %}
                <li><nobr><a href="https://www.instagram.com/{{ site.instagram_username }}"><span class="fa fa-instagram">&nbsp;</span>Instagram</a></nobr></li>
                {% endif %}

                {% if site.facebook_username %}
                <li><nobr><a href="https://www.facebook.com/{{ site.facebook_username }}"><span class="fa fa-facebook-o">&nbsp;</span>Facebook</a></nobr></li>
                {% endif %}
                
                {% if site.email_address %}
                <li><nobr><a href="/contact"><span class="fa fa-envelope-o">&nbsp;</span>Contact</a></nobr></li>
                {% endif %}
            </ul>
        </footer>
    </section>
</div>